*{
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  justify-content: center;
  width: 320px;
  background-color: #1a1b21;
  border-radius: .8rem;
  overflow: hidden;
  color: white;
  border: 1px solid #1a1b21;
}

.img-container{
  width: 100%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.main-img{
  width: 100%;
  height: 280px;
  object-fit: cover;
  object-position: 50% 20%;
}

.main-img:hover{
  opacity: 0.3;
  transition: ease 3s;
  transform: scale(1.01);
}

.sub-containere{
  padding: 0 1.5rem;
}

.red{
  color: red;
}

.connect{
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

a{
  text-decoration: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.email, .linkedin{
  color: white;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .4rem 1.75rem;
  gap: .5rem;
  border-radius: .35rem;
}

.linkedin{
  color: red;
  background-color: lightblue;
}

.about, .interests{
  margin-top: 1rem;
  text-align: left;
}

.about h3, .interests h3{
margin-bottom: .4rem;
} 
.about p{
margin-bottom: .4rem;
}
.interests p{
  margin-bottom: 2rem;
  }

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #161619;
  padding: 1.2rem 0;
}

.icons{
  width: 35px;
}

.icons:hover{
  transform: scale(1.1);
}